.main {
  position: relative;
  z-index: 1; // Піднімаємо контент над футером
  background-color: $background-color; // Непрозорий фон, щоб футер не просвічувався
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); // Тінь, щоб відділити контент від футера при розкритті

  // На мобільному футер нижчий (наприклад, 180px)
  margin-bottom: 180px;

  @include on-tablet {
    // На планшеті він стає більшим
    margin-bottom: 359px;
  }

  @include on-desktop {
    // На десктопі твоє поточне значення
    margin-bottom: 359px;
  }

  &__content {
    display: grid;
    row-gap: 100px;
    padding-block: 100px;

    @include on-tablet {
      padding-block: 140px;
      row-gap: 140px;
    }
  }
}
