$tablet-min-widht: 576px;
$desktop-min-widht: 1024px;
$main-text-color: #161616;
$menu-text-color: #fff;
$background-color: #fff;
$red-text-color: #d12d35;
$menu-background-color: #d12d35;
$contacts-link-text-color: #3e3e3e;
$input-text-color-placeholder: #7e7e83;
$button-hover-color: #ae1c23;
$button-active-color: #eb343d;
$text-area-color: #f8f8fa;
